{% extends 'variant_db/base.html' %}
{% block content %}

  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand">View variants</a>
  </nav>
  <br>

  <table id="variants" class="table">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>


<!-- Initialise DataTables-->
<script>
$(document).ready( function () {
    $('#variants').DataTable();
} );
</script>


{% endblock %}
